backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)


  # This line should *not* be indented
#publish_mode: editorial_workflow
# This line should *not* be indented
media_folder: static/img # Media files will be stored in the repo under images/uploads
public_folder: /img
media_library:
  name: cloudinary
  config:
    cloud_name: dontbzd8
    api_key: 157179379144737
    mulitple: true

collections:
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "content/blog" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "blog"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "string"}
      - {label: "Featured Image", name: "thumbnail", widget: "image", required: false}
      - {label: "Rating (scale of 1-5)", name: "rating", widget: "number", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "settings"
    label: "Settings"
    files: 
      - label: "Contact Info"
        name: "contact_info"
        file: site/settings/contact_info.json
        fields:
          - {label: "Phone", name: "phone", widget: "string"}
          - {label: "Email", name: "email", widget: "string"}
          - label: "Address"
            name: "address"
            widget: "object"
            fields:
              - {label: "Street", name: "street", widget: "string"}
              - {label: "Street2", name: "street2", widget: "string", required: false}
              - {label: "City", name: "city", widget: "string"}
              - {label: "State", name: "state", widget: "string"}
